<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.CustomerMapper">
	<!-- 고객추가 -->
	<insert id="insertCustomer" parameterType="com.example.sakila.vo.Customer">
		insert into customer(
			store_id,
			first_name,
			last_name,
			email,
			address_id
		) values (
			#{storeId},
			#{firstName},
			#{lastName},
			#{email},
			#{addressId}
		)
	</insert>
	<!-- 고객 리스트 -->
	<select id="selectCustomerList" parameterType="Map" resultType="com.example.sakila.vo.Customer">
		select
			customer_id customerId,
			store_id storeId,
			first_name firstName,
			last_name lastName,
			address_id addressId,
			email,
			active,
			create_date createDate,
			last_update lastUpdate
		from customer
		<where>
	        <if test="searchName != null and searchName != ''">
	           concat(first_name, last_name) like concat('%',#{searchName},'%')
	        </if>
   	 	</where>
		order by customer_id desc
		limit #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 고객 토탈 행 -->
	<select id="getTotalRow" parameterType="Map">
		select count(*) from customer
		<where>
			<if test="searchName != null and searchName != ''">
				concat(first_name, last_name) like concat('%',#{searchName},'%')
			</if>
		</where>
	</select>
	<!-- addRental -->
	<select id="selectCustomerListByName" parameterType="Map" resultType="com.example.sakila.vo.Customer">
		select 
			customer_id customerId,
		    first_name firstName,
		    last_name lastName,
		    email
		from customer
		where active = 1 and
		concat(first_name, last_name) like concat('%',#{searchName},'%')
	</select>
	
	<!-- CustomerOneByRentalList -->
	<select id="selectCustomerOneByRentalList" parameterType="Integer" resultType="Map">
		select 
			r.rental_id rentalId,
		    f.film_id filmId,
		    i.inventory_id inventoryId,
		    f.title title,
		    p.amount amount,
		    r.rental_date rentalDate
		from rental r inner join inventory i
		on r.inventory_id = i.inventory_id inner join film f
		on i.film_id = f.film_id inner join payment p
		on r.rental_id = p.rental_id
		where r.customer_id = #{customerId}
		order by rentalDate desc
	</select>
	
	<!-- CustomerOne -->
	<select id="selectCustomerOne" parameterType="Integer" resultType="Map">
		select 
			cu.customer_id customerId,
		    cu.store_id storeId,
		    cu.first_name firstName,
		    cu.last_name lastName,
		    cu.address_id addressId,
		    cu.email email,
		    a.address address,
		    a.district district,
		    a.postal_code postalCode,
			a.phone phone,
		    a.city_id cityId,
		    ci.city city,
		    ci.country_id countryId,
		    co.country country,
		    cu.create_date createDate
		from customer cu left join address a
		on cu.address_id = a.address_id inner join city ci
		on a.city_id = ci.city_id inner join country co
		on ci.country_id = co.country_id
		where cu.customer_id = #{customerId}
	</select>
</mapper>