<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.FilmActorMapper">
	
	<!-- 영화안에 배우 생성 -->
	<insert id="insertFilmActor" parameterType="com.example.sakila.vo.FilmActor">
		insert into film_actor (
			actor_id,
			film_id
		) values (
			#{actorId},
			#{filmId}
		)
	</insert>
	
	<!-- 영화 안에 배우삭제 -->
	<delete id="deleteFilmActor" parameterType="com.example.sakila.vo.FilmActor">
		delete 
		from film_actor
		where actor_id = #{actorId} and film_id = #{filmId}
	</delete>
	
	<!-- 배우의 출연작 삭제 -->
	<delete id="deleteFileByActor">
		delete
		from film_actor
		where actor_id = #{actorId}
	</delete>
	
	<!-- 배우 출연작 중복검사 -->
	<select id="countFilmActor" parameterType="com.example.sakila.vo.FilmActor" resultType="int">
		select
			count(*)
		from film_actor
		where actor_id = #{actorId} and film_id = #{filmId}
	</select>
</mapper>