<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.StoreMapper">
	
	<!-- store 상세정보 -->
	<select id="selectStoreList" parameterType="Map">
			select
			    s.store_id storeId,
			    s.manager_staff_id managerStaffId,
			    s.address_id addressId,
			    a.address address,
			    a.district district,
			    a.city_id cityId,
			    a.postal_code postalCode,
			    a.phone phone
			from address a 
			inner join store s
			on a.address_id = s.address_id
	</select>
	
	<insert id="insertStore" parameterType="com.example.sakila.vo.Store" useGeneratedKeys="true" keyProperty="storeId">
		insert into store(
			manager_staff_id,
			address_id
		) values (
			#{managerStaffId}, #{addressId}
		)
	</insert>
	
	<select id="countByStaffManager" parameterType="com.example.sakila.vo.Store">
		select count(*)
		from store
		where store_id = #{storeId} and manager_staff_id=#{managerStaffId}
	</select>
</mapper>
